@{
    Layout = null;
}

<div class="header">
    <div class="header-left">
        <a asp-controller="HomeAdmin" asp-action="Index" class="logo">
            <img src="~/img/statics/Logo 3.png" width="35" height="35" alt="Logo 3.png"> <span>hotel.com</span>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
    <ul class="nav user-menu float-right">
        @await Component.InvokeAsync("GetAllCommentsForAdmin")

        <li class="nav-item dropdown d-none d-sm-block">
            <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-calendar-check-o"></i> <span class="badge badge-pill bg-danger float-right">R</span></a>
        </li>
        <li class="nav-item dropdown has-arrow">
            @await Component.InvokeAsync("GetHeaderUser")
        </li>
    </ul>
    <div class="dropdown mobile-user-menu float-right">
        @await Component.InvokeAsync("GetHeaderMobileUser")
    </div>
</div>