@model About
@{
    ViewData["Title"] = "Ad A New About";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>About Title <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" asp-for="Title" name="Title" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Subtitle <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" asp-for="Subtitle" name="Subtitle" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-form-label col-md-3">About Description <span class="text-danger">*</span></label>
                                <div class="col-md-12">
                                    <textarea class="ckeditor" asp-for="Description" name="Description" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Upload Image <span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input class="form-control btn-danger" type="file" name="image" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button type="submit" class="btn btn-primary submit-btn">Add About</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @if (TempData["success"] != null)
            {
                <strong class="alert-info">@TempData["success"]</strong>
            }
            else
            {
                <strong class="alert-info">@TempData["error"]</strong>
            }
        </div>
    </div>
</div>