@model IEnumerable<CommentAnswer>
@{
    Layout = null;
}

<li class="nav-item dropdown d-none d-sm-block">
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">CA</span></a>
    <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
            <span>Comment Answers</span>
        </div>
        <div class="drop-scroll">
            <ul class="notification-list">
                @foreach (var item in Model)
                {
                    <li class="notification-message">
                        <a asp-controller="HomeUser" asp-action="CommentAnswer" asp-route-id="@item.Id">
                            <div class="media">
                                <div class="media-body">
                                    <p class="noti-details">
                                        <span class="noti-title">myHotel.com</span> sent new answer
                                        <span class="noti-title">@item.Title</span>
                                    </p>
                                    <p class="noti-time"><span class="notification-time">@item.CreatedDate.ToShortDateString()</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</li>